@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Climate+Crisis&display=swap');
:root{--color-lightblue:#c2e6fa;--color-lightpink:#fd94a1;--grid-border:#ee929d;--color-tab-text:#686868;--grid-hover: linear-gradient(to top left, var(--color-lightblue) 20%, var(--color-lightpink)100%);--color-lightblue1:#bfe9ff47;--color-lightpink1:#ff6e7f21;--primary-text:#212529;--secondary-text:#424b60;--third-text:#71777c;--white:#fff;--black:black;--color-gradient:linear-gradient(to right,var(--color-lightpink),var(--color-lightblue));--color-gradient1:linear-gradient(to right,var(--color-lightpink1),var(--color-lightblue1));--color-gradient2:linear-gradient(to right,#fd94a07a,#c2e6fa73);}
::selection{background-color:var(--color-lightpink);color:var(--color-lightblue);}
body{background:var(--white);font-weight:400;font-size:1em;font-family:'Tilt Neon',cursive;}
a{color:var(--black);text-decoration:none;outline:none;}
a:hover,
a:focus{color:var(--secondary-text);}
.spacing{padding:100px 0;}
.btn:focus, .btn.focus {
  box-shadow: unset 
}
.primary-bg{background-image:linear-gradient(to right,var(--color-lightpink),var(--color-lightblue));}
.secondary-bg{background-color:var(--white);}

/* ***********************************BANNER SECTION START*********************************** */
.banner-section{height:336px;}
.heading h1{font-size:50px;font-family:'Climate Crisis',cursive!important;z-index:9;font-weight:100;letter-spacing:5px;}
.design-component{background-image:url('../image/Banner-bg.jpg');background-position:center;background-repeat:no-repeat;background-size:cover;z-index:1;margin:-0.135em;}
.design-component::after{position:absolute;height:100%;width:100%;content:'';top:0;left:0;right:0;background-image:var(--color-gradient1);z-index:1;}
.design-component .menu-bar{color:var(--white);font-size:20px;backface-visibility:hidden;z-index:99;}
.design-component h1 span{font-weight:800;}
.effect .menu-bar{max-width:100%;padding:1em;background-image:var(--color-gradient);color:#000000;transition:all 1s linear;}

/* Hover */
.hover{transition-duration:0.5s;transition-property:transform;transform:translateZ(0);width:50px;height:100%;padding:5px 10px;display:flex;justify-content:center;flex-wrap:wrap;}
.hover:hover{transform:translateY(-6px);animation-name:hover;animation-duration:1s;animation-delay:0.2s;animation-timing-function:linear;animation-iteration-count:infinite;animation-direction:alternate;}
@keyframes hover{
    50%{transform:translateY(-4px);}
    100%{transform:translateY(-6px);}
}
.ul-style{top:0%;bottom:0;left:0;right:0;}
.nav-list{width:calc(100%);}

/* toggler */
.navbar-toggler{background-color:var(--color-lightblue)!important;transition:all 0.3s ease;}
.navbar-toggler[aria-expanded*=false]{transform:rotate(0deg);}
.navbar-toggler[aria-expanded*=true]{transform:rotate(-180deg);}

/* ***********************************BANNER SECTION END*********************************** */

/* ***********************************ACCORDIAN SECTION START*********************************** */
.title{font-family:'Climate Crisis',cursive;padding-bottom:100px;}
.bottom-border::after{content:'';position:absolute;border-bottom:2px solid var(--color-lightblue);top:20px;bottom:0%;left:0%;right:0;height:100%;width:100%;}
.offer-area{position:relative;z-index:1;width:100%;overflow:hidden;}
.offer-tab-link{text-align:center;}
.offer-tab-link ul li{display:inline-block;padding:10px 0;margin:0 -3px;}
.offer-tab-link ul li a{display:block;color:var(--black);font-size:20px;padding:10px 60px;border-bottom:4px solid var(--black);font-weight:500;}
.offer-tab-link ul{list-style:none;padding:0;margin:0;border:0;justify-content:center;}
.offer-content p{text-align:left;margin:0;width:100%;}
.offer-content h2{text-align:left;}
.accordian-item{padding:0 15px;width:80px;height:450px;overflow:hidden;float:left;position:relative;transition:0.3s ease;}
.accordian-detail{width:554px;height:100%;}
.accordian-title{position:absolute;left:40px;z-index:1;width:461px;color:var(--white);transform:rotate(-90deg);transform-origin:left;text-align:center;margin:0 auto;top:93.6%;height:80px;line-height:80px;background:rgba(0,0,0,0.5);cursor:pointer;text-transform:uppercase;}
.row{height:100%;}
.col{height:100%;width:100%;}
.accordian-item.active{width:calc(100% - 480px);}
.accordian-item.active .accordian-detail{width:100%;}
.accordian-item.active .accordian-detail .row .col:first-child{max-width:40%!important;}
.offer-content{max-width:460px;margin:0 auto;top:50%;position:relative;transform:translate(0,-50%);opacity:0;transition:opacity 0.3s ease;}
.offer-tabs.tab-content{padding:10px 0;}
.accordian-slide:after{content:'';clear:both;display:block;}
.offer-content p{color:#000;}
.offer-content h2{font-size:24px;color:var(--black);text-transform:uppercase;}
.accordian-title.hide{display:none;}
.accordian-item.active .offer-content{transition:0.3s ease;opacity:1;}
.accordian-img{height:100%;width:100%;background-repeat:no-repeat;background-position:center;background-size:cover;}
.img-1{background-image:url("https://srmahour.github.io/accordian/images/e-commerces_retail_b2b.jpg");}
.img-2{background-image:url("https://srmahour.github.io/accordian/images/healthcare_itness.jpg");}
.img-3{background-image:url("https://srmahour.github.io/accordian/images/real_estate_property.jpg");}
.img-4{background-image:url("https://srmahour.github.io/accordian/images/banking_finance_insurance.jpg");}
.img-5{background-image:url("https://srmahour.github.io/accordian/images/construction.jpg");}
.img-6{background-image:url("https://srmahour.github.io/accordian/images/travel_hospitality.jpg");}
.img-7{background-image:url("https://srmahour.github.io/accordian/images/media_entertainment.jpg");}
/* ***********************************ACCORDIAN SECTION END*********************************** */

/* ***********************************TABBING SECTION START*********************************** */
@import url("https://fonts.googleapis.com/css?family=IBM+Plex+Mono:400,400i|IBM+Plex+Sans+Condensed:400,400i|IBM+Plex+Sans:100,100i,400,400i,700,700i|IBM+Plex+Serif:400,400i");
/* Tabs menu */
.tabs{margin:0;background-image:linear-gradient(135deg,#f5f7fa 0%,var(--color-lightblue) 100%);height:80px;border-radius:2px 2px 0px 0px;}
/* Tab Links */
.tablinks{background:transparent;background-image:linear-gradient(90deg,transparent 70%,rgba(255,255,255,0.2) 100%);border:none;outline:none;cursor:pointer;width:25%;  /*change depending on the number of tabs*/height:80px;font-size:16px;transition:0.3s ease;}
.tablinks:before{background-color: var(--black);content:"";width:100%;height:0px;position:absolute;top:0;left:0;transition:0.3s ease-in-out;z-index:2;}
/* Tab active */
.tablinks.active{background-color:var(--white);z-index:0;border-right:0px;border-left:0px;height:110px;bottom:0px;overflow:hidden;}
.tablinks.active:before{content:"";width:100%;height:5px;top:0;left:0;}
/* Tabs text */
.tablinks.active p,
.tablinks.active:hover p{opacity:1;}
.tablinks p{opacity:0.6;z-index:2;transition:0.5s ease;padding:0;margin:0;color:var(--black);backface-visibility:hidden;font-weight:400;}
.tablinks:hover p{opacity:1;}
/* Tabs text bigger */
.tablinks p:before{content:attr(data-title);position:absolute;height:auto;width:auto;color:var(--white);display:flex;align-items:center;justify-content:center;opacity:0.1;font-size:40px;transition:1s ease-out;z-index:-1;font-weight:600;top:110%;}
.tablinks:hover p:before{opacity:0.1;font-size:40px;top:-80%;}
/* tab content */
.tab-content{background-color:var(--white);margin-top:0px;  /* z-index: -3; */opacity:1;padding:40px 60px;transition:all 1s ease;top:0;}
.tabcontent{display:none;min-height:180px;}
@keyframes tabEffect{
    from{top:-40px;}
    to{top:0px;}
}
.tabcontent.active{transition:all 1s ease;display:block;}
/* Title */
.tabcontent .tab-title{font-size: 40px;top: 45%;bottom: 0;transform: rotate(90deg);left: -90px;opacity: 1;
  background: -webkit-linear-gradient(var(--color-lightblue),var(--color-lightpink) );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  ;width: 200px;height: 60px;font-weight: bolder;animation: city 1s ease;}
@keyframes city{
    from{left:-150px;}
    to{left:-90px;}
}
/* Text*/
.tabcontent .tab-info{color:var(--color-tab-text);line-height:28px;font-weight:100;transition:all 1s ease;animation:fadeEffect 0.6s ease;font-size:16px;}
@keyframes fadeEffect{
    from{opacity:0;margin-left:30px;}
    to{opacity:1;margin-left:0;}
}
/* ***********************************TABBING SECTION END*********************************** */

/* ***********************************ISOTOPE SECTION START*********************************** */
.grid{margin-top:15px;}
.isotope-section .card{border:none;border-radius:0!important;}
.isotope-section .card .overlay{color:var(--white);background:var(--color-gradient1);padding:15px;transition:opacity 0.25s ease-in-out;opacity:0;}
.isotope-section .card:hover .overlay{opacity:1;}
.isotope-section .card img{transition:transform 0.35s;transform:scale(1.15);}
.isotope-section .card:hover img{transform:scale(1);}
.card-title{font-weight:600;}
.btn-light-2{color:var(--color-tab-text);;transform:perspective(1px) translateZ(0);transition-duration:0.3s;}
.btn-light-2:focus{transition:transform 0.5s;}
.btn-light-2:hover{color:var(--black);background:var(--color-gradient2);}
.btn-light-2:not([disabled]):not(.disabled).active,
.btn-light-2:not([disabled]):not(.disabled):active,.show > .btn-light-2.dropdown-toggle{color:var(--black);background:var(--color-gradient);transform:scale(1.03);}
.card-body .btn-light{color:var(--white);background-color:transparent;transition-duration:0.3s;}
.card-body .btn-light:hover{color:var(--black);}
.btn-light-2{border: none;}  
.grid-item{padding: 5px;}
/* ***********************************ISOTOPE SECTION END*********************************** */

/* ***********************************GRID SECTION START*********************************** */
.grid-section .grid-box{display:grid;grid-template-columns:repeat(auto-fit,minmax(250px,1fr));margin:0 auto;border-top:5px solid var(--grid-border);border-left:5px solid var(--grid-border);padding:0;margin:0;}
.grid-section .grid-box .card{position:relative;width:100%;height:300px;margin:0 auto;background:transparent;border:none;border-right:5px solid var(--grid-border);border-bottom:5px solid var(--grid-border);border-radius:0;}
.grid-section .grid-box .card .face{position:absolute;bottom:0;left:0px;width:100%;height:100%;display:flex;justify-content:center;align-items:center;}
.grid-section .grid-box .card .face.face1{box-sizing:border-box;padding:20px;}
.grid-section .grid-box img{height:75%;width:100%;}
.grid-section .grid-box  .grid-img{height:100%;width:100%;}
.grid-section .grid-box .card:hover img{transform:scale(1.1);}
.grid-section .grid-box .card img{transition:transform 0.35s;transform:scale(0.8);}
.grid-section .grid-box .card .face.face2{transition:0.5s;}
.grid-section .grid-box .card .face.face2 h2{margin:0;padding:0;font-size:4em;color:var(--color-lightpink);transition:0.5s;text-shadow:0 2px 5px rgba(0,0,0,0.2);z-index:10;}
.grid-section .grid-box .card:hover .face.face2{height:60px;}
.grid-section .grid-box .card:hover .face.face2 h2{font-size:2em;}
.grid-section .grid-box .card .face.face2{background:var(--white);}

/* ***********************************GRID SECTION END*********************************** */

/* ***********************************COUNTER SECTION END*********************************** */
.counter-section{padding-top:100px;}
.floating-heart{position:absolute;animation:2s linear heart normal infinite;top:49%;color:var(--color-lightpink);font-size:50px;z-index:-1;}
.heart{bottom:0;top:-150px;right:0;left:0;z-index:1;}
.floating-heart:nth-child(1){left:calc(50% - 50px);scale:1.1;}
.floating-heart:nth-child(2){left:calc(50% - 25px);animation-delay:0.66s;}
.floating-heart:nth-child(3){left:50%;animation-delay:1.33s;scale:1.2;}
@keyframes heart{
  0%{transform:rotate(10deg);opacity:0;}
  25%{transform:rotate(-10deg);opacity:1;}
  75%{transform:rotate(10deg);opacity:0.5;}
  100%{transform:rotate(-10deg);opacity:0;top:10%;}
}
.counter-box{height:100%;width:70%;margin: 0 auto; background-color:var(--white);color:var(--color-lightpink);border-radius:50px;z-index:1;}
.counter-box::before{content:"";position:absolute;top:160%;width:100%;height:20px;background:rgba(0,0,0,0.05);border-radius:50%;filter:blur(1px);}
.counter-box::after{content:"";position:absolute;background-color:var(--white);width:40px;height:40px;border-radius:5px;top:calc(100% - 25px);transform:rotate(45deg);}
.counter-container1{margin:20px;font-size:30px;}
.counter-container1 i{margin:10px;font-size:40px;}
.counter-container1 .counter{width:75px;font-weight:900;}

/* ***********************************COUNTER SECTION START*********************************** */

/* ***********************************MEDIA START*********************************** */
@media (max-width:1880px){
    .container1{max-width:1540px;}
}
@media (max-width:1550px){
    .container1{max-width:1340px;}
}
@media (max-width:1450px){
    .container1{max-width:1240px;}
    .offer-content{margin:0;max-width:360px;}
}
@media (max-width:1280px){
    .container1{max-width:1140px;}
}
@media (max-width:1199px){
    .container1{max-width:960px;}
    h4.accordian-title{height:50px;line-height:50px;left:25px;top:94%;}
    .accordian-item{width:50px;}
    .accordian-item.active{width:calc(100% - 6*50px);}
    .accordian-item.active .offer-content{margin-left:20px;}
}
@media only screen and (max-width:1099px){
    .design-component .menu-bar{font-size:18px;}
}
@media (max-width:991px){
    .container1{max-width:720px;}
    .offer-content p{font-size:14px;}
    .accordian-item.active .offer-content{margin-left:0;padding:15px 0;}
    h4.accordian-title{font-size:14px;top:58%;width:280px;height:36px;line-height:36px;left:17px;}
    /* .accordian-item.active .accordian-detail {width: 500px;} */
    .offer-content h2{font-size:18px;margin:0;}
    .offer-content a{padding:7px 13px;font-size:16px;margin-top:10px;}
    .accordian-detail{width:395px;max-height:279px;}
    .accordian-item{width:35px;}
    .accordian-item.active{width:calc(100% - 6*35px);}
    .navbar-collapse{position:absolute;bottom:0;top:60px;background-image:linear-gradient(to right,var(--color-lightpink),var(--color-lightblue));z-index:999;height:608px;}
    .nav-list{padding:10px 0;border-bottom:0.5px solid black;}
    .navbar{position:relative!important;justify-content:center!important;padding:16px 0!important;}
    .banner-section .design-component{overflow:visible!important;}
}
@media (max-width:767px){
    .container1{max-width:540px;}
    .accordian-item{width:100%;}
    .accordian-detail{width:100%;max-height:unset;display:none;}
    h4.accordian-title{text-align:left;padding-left:15px;position:relative;background-color:var(--color-lightblue);color:var(--black);transform:rotate(0);border-bottom:1px solid #992c2c;height:40px;line-height:40px;width:100%;left:0;}
    /* .accordian-img {margin: 0;} */
    .offer-content{margin:0;max-width:100%;transform:translate(0,0);}
    .accordian-title.hide{background:var(--color-lightpink);display:block;}
    .accordian-item.active .accordian-detail{width:100%;display:block;}
    .accordian-item.active .accordian-detail .row .col:first-child{max-width:50%!important;}
    .accordian-item.active{width:100%;}
    .accordian-item{height:100%;}
    .col{height:unset;}
    .row{height:100%;width:100%;margin:0;}
    .counter-container1{margin:20px;font-size:20px;}
    .counter-container1 i{margin:10px;font-size:30px;}
}
@media (max-width:574px){
    .container1{max-width:100%;}
    .accordian-item.active .accordian-detail .row{display:block;}
    .accordian-item.active .accordian-detail .row .col{max-width:100%!important;}
    .offer-content{transform:translate(0);top:0;padding:10px 0;}
    /* .accordian-img,.accordian-item.active .accordian-img {width: 100%;max-width: unset;height: 100%;} */
    .accordian-img{height:300px;width:100%;max-width:100%;}
    .accordian-item.active .accordian-detail .row .col:first-child{max-width:100%!important;}
}
@media only screen and (max-width:520px){
    .heading h1{font-size:28px;}
}
@media screen and (max-width:512px){
  .content{margin:0 4%;margin-top:5%;}
  .tabs{height:40px;}
  .tablinks{height:40px;font-size:12px;}
  .tablinks:hover::before{height:0;}
  .tablinks.active{height:60px;}
  .tablinks:hover .tab-info{color:var(--third-text);opacity:0.6;}
  .tablinks .tab-info:before{display:none;}
  .tabcontent .tab-title{top:65px;}
  .tabcontent .tab-info{font-size:14px;line-height:26px;}
}
    /* ***********************************MEDIA END*********************************** */


    html {
      scroll-behavior: smooth;
    }
    

    .parallax-item:first-child {
      background: url("https://images.unsplash.com/photo-1663305411753-4c305e177ff3?crop=entropy&cs=tinysrgb&fm=jpg&ixid=MnwzMjM4NDZ8MHwxfHJhbmRvbXx8fHx8fHx8fDE2NjM5NDA4ODE&ixlib=rb-1.2.1&q=80");
      background-size: cover;
      background-size: cover;
      background-position: center;
      background-attachment: fixed; /* Parallax Effect for DIV 3 */
      min-height: 600px;
    }
    
    .parallax-item:nth-child(3) {
      background: url("https://images.unsplash.com/photo-1663183539627-adbe2c8ef43d?crop=entropy&cs=tinysrgb&fm=jpg&ixid=MnwzMjM4NDZ8MHwxfHJhbmRvbXx8fHx8fHx8fDE2NjM5Mzk5ODc&ixlib=rb-1.2.1&q=80");
      background-size: cover;
      background-position: center;
      background-attachment: fixed; /* Parallax Effect for DIV 3 */
      min-height: 600px;
    }
    
    .parallax-item:nth-child(5) {
      background: url("https://images.unsplash.com/photo-1663183539627-adbe2c8ef43d?crop=entropy&cs=tinysrgb&fm=jpg&ixid=MnwzMjM4NDZ8MHwxfHJhbmRvbXx8fHx8fHx8fDE2NjM5Mzk5ODc&ixlib=rb-1.2.1&q=80");
      background-size: cover;
      background-position: center;
      background-attachment: fixed; 
      min-height: 600px;
    }

    body,
    html{
          margin: 0;
          padding: 0;
          height: 100%;
    }
    
    /* Hide scrollbar for Chrome, Safari and Opera */
    body::-webkit-scrollbar {
      display: none;
    }
    
    /* Hide scrollbar for IE, Edge and Firefox */
    body {
      -ms-overflow-style: none;  /* IE and Edge */
      scrollbar-width: none;  /* Firefox */
    }
    
    svg {
          display: block;
          width: 100%;
          height: 100vh;
          position: fixed;
          top: 0;
          left: 0;
    }
      
    .scrollElement {
          position: absolute;
          height: 6000px;
          width: 100px;
          top: 0;
          z-index: 0;
    }
    
      .btn {
          position: fixed;
          bottom: 5%;
          right: 0px;
          transform: translateX(-50%);
          border: 1px solid #fff;
          border-radius: 5px;
          font-size: 0.9rem;
          padding: 0.5rem 0.7em;
          background-color: transparent;
          color: #ffffff;
          font-family: Verdana, Geneva, Tahoma, sans-serif;
          -webkit-font-smoothing: antialiased;
          cursor: pointer;
          transition: all .3s;
          z-index: 11;
      }
    
      .btn_works {
          left: 100px;
          right: unset;
          text-decoration: none;
      }
    
      .btn:hover {
          background: #ffffff;
          color: #1B1734;
      }