$nav-color: white;
$nav-bg:rgba(89, 0, 190, 0.815);
$nav-button:white;
$red:red;
$blue:blue;
$green:green;
$black-color:black;
$border-radius:3px;
$margin-50:50;
$direction-top:top;
$box-height:300;
$box-weight:300;